<div class="col-xs-12">
    <div class="jumbotron">
        Edit profile info for: <%= @user.email %>
    </div>

    <%= link_to "edit", edit_user_registration_path %>
    <%= link_to "edit password", edit_user_password_path(@user) %>

    <div class="panel panel-default">
    <div class="panel-body">
        Dashboard information for other statistics
    </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-body">
        Render form to update user info here
    </div>
    </div>
</div>
