<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center benefits-heading panel">
<div class="col-xs-12 col-sm-8 text-xs-center">
  <div class="col-xs-12 panel-body" >Displaying
        <% if current_user.client? %>
          <%= pluralize(@users.count, "artist") %>
        <% elsif current_user.artist? %>
          <%= pluralize(@users.count, "client") %>
        <% else %>
            All Users
        <% end %>
      </div>
      </div>
        <div class="user-search">
          <%= render partial: 'user_search', locals: { user: current_user } %>
        </div>

</div>
<br>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
    <%= render partial: 'user_listing', locals: { users: @users, connection_ids: @connection_ids } %>
</div>
