
  <div class="visible-xs">
    <div class="qj-section">
      <div class="qj-button blue-border">
      <%= link_to controller: "formulas", action: :new, requested_user: user.id do %>

          <i class="fa fa-plus-circle fa-lg fa-3x"></i><br>
          New Formula

    <% end %>
  </div>
  </div>
  </div>
