/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #b3c0a4;
}

a {
  text-decoration: none !important;
}

// REMOVE BORDER-RADIUS
.panel, .well {
  border-radius: 0 !important;
  box-shadow: none;
}

// BUTTON OVERRIDES
.btn-default {
  border-color: #31778F !important;
}

.btn {
  border: 2px solid transparent;
  // padding: .5em .8em;
  font-size: .9em;
  line-height: 1em;
  border-radius: 2em !important;
}

.btn-success {
  color: #ffffff;
  background-color: #31778f;
  border-color: #31778F !important;
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #fff;
  background-color: #31778f;
}

.btn-success:active:hover, .btn-success:active:focus {
  background-color: #245769;
}

.btn-danger {
  color: #31778f;
  background-color: #ffffff;
  border-color: #31778F !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  color: #fff;
  background-color: #31778f;
}

.btn-danger:active:hover, .btn-danger:active:focus {
  background-color: #245769;
}
.alert {
  margin-top: -20px;
  padding: 5px;
}

.panel, .well {
    padding: 10px;
    margin-bottom: 10px;
}

#wrapper {
 padding-bottom: 60px;
}

// WELCOME#INDEX
.splash-jumbotron {
  display: flex;
}

.jumbo-icon {
  font-size: 4em;
  color: #364156;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.benefits-panel {
  margin-bottom: 2em;
  .user-links {
    .bt {
    border-radius: 2px !important;
    }
  }
}

.benefits-heading {
    padding: .5em 0em;
    color: #cdcdcd;
    background: #364156;
}


// SIDEBAR

#sidebar {
 height: 100%;
}

#sidebar:hover {
//  background: rgba(137, 60, 194, 0.2);
}

.services-list > tbody {
  tr {
    th, td {
    padding: 0px;
    font-size: .8em;
    line-height: 2em;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  tr:hover {
    // background: rgba(231, 209, 55, 0.5) !important;
    cursor: pointer;
  }
}


// MAIN PANEL
#main-panel {
// background: rgba(231, 209, 55, 0.71);
 height: 100%;
}

#user-header {
  padding: 5px 5px;
}

.user-links {
  .btn-default {
    // background: rgba(231, 209, 55, 0.5) !important;
    // margin-bottom:.2em;
  }
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}


#formula-header {
  .formula-service-type {
    font-size: 1.3em;
  }
  .formula-date {
    font-size: 0.75em;
    padding: .4em;
  }
}

// NAVBAR UPDATES:
.navbar-inverse {
    background-color: #31778f;
    border-color: #aa9922;
    .navbar-nav > li > a {
     color: rgba(255, 255, 255, 0.7);
    }
    .navbar-brand {
      font-family: 'Niconne', cursive;
      float: left;
      padding: .5em;
      font-size: 1.5em;
      line-height: 1em;
    }
    a.navbar-brand {
      color: white;
    }
  .navbar-brand > img {
    height: 100%;
  } 
}


// FOOTER (STICKY)
.footer {
  // sticky footer
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(34,34,34);
    margin-top: 1em;
    
    color: #9d9d9d !important;
      a {
        color: #9d9d9d;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
      }
}

// USERS#SHOW
.services-list {
    -webkit-padding-start: 0px;   
    li {
        list-style: none;
    }
}

table.formula-history {
  tr {
    th {
      border-top:none;
    }
  }
}

// USERS#FORMULA#NEW/EDIT

.formula-card-header {
  background: #56e39f;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Niconne', cursive;
  line-height: 1em;
}

.formula-card {
  border: 1px solid #56E39F;
  .xs-input {
    border: none;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .navbar {
      border-radius: 0 !important;
  }
}


@media (max-width: 420px) { 
    
body {
    font-size: 16px;
}
  
  .container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  
  .btn {
    font-size: 1em !important;
  }
  
  .row {
    margin-left: -5px !important;
    margin-right: -5px !important;
  }
  
  .well {
    padding: 10px;
    margin-bottom: 15px;
  }
 // PANELS  
  .panel {
    // border: none !important;
    // font-size: 1.4em;
  }
  
  .panel-heading {
      padding: 10px 5px;
  }
  
  .panel-body {
    padding: 5px;
  }
  
  .panel-footer {
    padding: 5px;
  }
  
  .table {
    // font-size: .8em;
  }
  
  // 
  #formula-header {
      font-size: 1em;
      margin-bottom: .3em;
  }
  
  .user-links {
    // border-color: #31778F;
    a:first-child {
      margin-bottom: 1px;
    }
  }
  
  .form-control {
    font-size: 16px;
  }
  
  .jumbo-icon {
    font-size: 3em;
  }
  
}